<div class="contenu">
<nav class="navbar navbar-expand-md menunav">
  <a class="nav-item logo" href="index.html">
    <img src="../assets/images/pngwing.png" alt="Progressus HTML5 template">
  </a>
  <ul class="navbar-nav">
    <li class="nav-item home">
      <a class="nav-link" routerLink="">Beauty Salon</a>
    </li>
    <li class="nav-item serv">
      <a class="nav-link" routerLink="service">Nos services</a>
    </li>
    <li class="nav-item serv">
      <a class="nav-link" routerLink="equipe">Notre équipe</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a href="/register" class="nav-link" routerLink="register">Inscription</a>
    </li>
    <li class="nav-item" *ngIf="!isLoggedIn">
      <a href="/login" class="nav-link" routerLink="login">Connexion</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn && showAdminBoard">
      <a href="/admin" class="nav-link" routerLink="admin">Administration</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn && showModeratorBoard">
      <a href="/employe" class="nav-link" routerLink="employe">Employé</a>
    </li>
    <li class="nav-item" *ngIf="isLoggedIn">
      <a class="nav-link" routerLink="user">User</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" *ngIf="isLoggedIn" (click)="logout()">Se déconnecter</a>
    </li>
  </ul>
</nav>

  
    <div class="">
      <router-outlet></router-outlet>
    </div>

<footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">ETU : 003702 ; Nom et Prénom : Andrianavalona Idealy Santatra Michèle</span><br>
            <span class="text-muted">ETU : 003697; Nom et prénom : RAVELONARIVO Jovani Matthieu</span><br>
            <span class="text-muted">Lien back-end : https://node-back-production.up.railway.app</span>
        </div>
    </footer>
  </div>
