.avatar-img {
    width: 150px; /* Définissez la largeur souhaitée */
    height: 150px; /* Définissez la hauteur souhaitée */
    border-radius: 15%; /* Pour créer une forme d'avatar arrondie */
    margin-right: 10px; /* Ajoutez une marge à droite pour séparer l'image du texte */
  }